<!-- ここから -->
<div class="profile-container">
  <h3 class="profile-name"><%= @user.name %></h3>
  
  
  <!-- サンプルプロフィール画像から、登録したのに切り替え！　『下も忘れず！』 -->
  <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
  
  
  <!-- 編集ページへのリンクを設定する -->
  <% if @user.id == current_user.id %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>
  
</div><!-- ここまでを追加 -->



<%#   これでpost_images/index.html.erbから呼び出す　 <%= render [部分テンプレートファイルの指定], [ローカル変数]:[渡す値] %> 
<%= render 'post_images/list', post_images: @post_images %>